<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Training Course in Share Market - Share Market Classes</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="share market classes in pune, share market classes in karad, share market classes in shivane, share market classes 
          in kothrud, share market training, ganraj share market classes,Best Stock Market Classes in Pune, Stock Market Courses, top Share Market classes,
          best training share market classes in pune" />
    
    <meta name="description" content="100 % practical course, 5 years work experiance + 5 years teaching experiance faculty |
          We offer training course in share market commodity and forex market | We Provide classroom and online training 
          programm which covers all basic and advance level of stock market and trading operations." />
    
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Best share market classes | share market classes and training in pune | ganraj share market classes" />
    
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW, ARCHIVE" />
    <meta property="og:description" content="best share market classes | 100 % practical course, 5 years work experiance + 5 years teaching experiance faculty | 
          best classes in pune, share market, share market in kothrud, stock market classes in pune | www.ganrajsharemarket.com" />

    <meta property="og:url" content="https://ganrajsharemarket.com/" />
    <meta property="og:site_name" content="share market classes" />
    <meta property="og:image" content="https://ganrajsharemarket.com/images/banner.png" />
    <meta property="og:image:secure_url" content="https://ganrajsharemarket.com/images/slide01.png" />
    <meta property="og:image:secure_url" content="https://ganrajsharemarket.com/images/slide02.png" />
    <meta property="og:image:secure_url" content="https://ganrajsharemarket.com/images/slide03.png" />
    <meta property="og:image:secure_url" content="https://ganrajsharemarket.com/images/slide04.png" />

    <meta name="twitter:description" content="best share market classes | 100 % practical course, 5 years work experiance + 5 years teaching experiance faculty | 
          best classes in pune, share market, share market in kothrud, stock market classes in pune | www.ganrajsharemarket.com" />
    <meta name="twitter:title" content="Best share market training and classes | share market classes in pune | https://ganrajsharemarket.com" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="https://ganrajsharemarket.com/images/slide01.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="" />



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <!--========================================================
                                  HEADER
        =========================================================-->
        <header id="header">
            <div id="stuck_container">
                <div class="container">
                    <div class="row">
                        <div class="grid_12">
                            <div class="brand put-left"> 
                                <a href="@Url.Action("Index","Home")">
                                    <img src="@Url.Content("~/images/logo.png")" alt="Ganraj" />
                                </a>
                            </div>
                            <nav class="nav put-right">
                                <ul class="sf-menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Courses", "Courses", "Home")</li>
                                    <!--<li>@Html.ActionLink("Blog", "Blog", "Home")</li>-->
                                    <li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <!-- <li>@Html.ActionLink("Register", "Register", "Home")</li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--========================================================
                                  CONTENT
        =========================================================-->
        <section id="content"><div class="ic">Ganraj Share Market Share classes</div>
            @RenderBody()
        </section>
        </div>
        
    <!--========================================================
                              FOOTER
    =========================================================-->
        <footer id="footer" class="color_9">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <p class="info text_4 color_4">
                           Copyright ©  2017<span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br />
                            Website designed by <a target="_blank" href="http://www.deallustechnologies.com/">Deallus Technologies</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
