@{
    ViewBag.Title = "Feedback";
}
@{
    var results = ViewBag.list;
    int cnt = ViewBag.total;
}

<h1 align="center"><font color="#af0083">Moksh House Testimonial!</font></h1>

<div id="body1">
    <div id="content">
        <div class="content">
            <ul class="articles">

                @for (var i = 0; i < cnt; i++)
                {
                    <li>
                        <div>
                            <h2 align="center"><font color="#af0083">@results[0][i]</font></h2>
                        </div>
                        <p>
                            <font size="4" color="#0b6d1a">
                                @results[1][i]
                            </font>
                        </p>
                    </li>
                  }

                </ul>
            </div>

                        <div id="sidebar">
                            <div id="section">
                                <div>
                                    <div>
                                        <img src="@Url.Content("~/images/building.jpg")" />
                                        <br /> <br /> <br />
                                        <img src="@Url.Content("~/images/bull.jpg")" />
                                        <br /> <br /> <br />
                                        <img src="@Url.Content("~/images/graph.jpg")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--
                <div id="body1">
                    <div id="content">
                        <div class="content">
                            <ul class="articles">
                                <li>
                                    <div>
                                        <h2>New Pupps in the Shop</h2>
                                    </div>
                                    <p>
                                        Lorem ipsum sot amet, consec teteur adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna. Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                        ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim ui
                                        blandit praesent luptatum zzril delenit augue duis dolore te feugiat nulla facilisi. Nam liner tempor cum soluta nobis eleifend option congue nihil imperdiet doming id uod mazim placerat facer posim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit
                                        eorum claritatem. investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etaim procesus dynamicus.
                                    </p>
                                </li>
                                <li>
                                    <div>
                                        <h2>How about let's Celebrate!</h2>
                                    </div>
                                    <p>
                                        Lorem ipsum sot amet, consec teteur adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna. Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                    </p>
                                </li>
                                <li>
                                    <div>
                                        <h2>Sport with you Pet's</h2>
                                    </div>
                                    <p>
                                        Lorem ipsum sot amet, consec teteur adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna. Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <div id="sidebar">
                            <div id="section">
                                <div>
                                    <div>
                                        <img src="@Url.Content("~/images/building.jpg")" />
                                        <br /> <br/> <br />
                                        <img src="@Url.Content("~/images/bull.jpg")" />
                                        <br /> <br /> <br />
                                        <img src="@Url.Content("~/images/graph.jpg")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    -->
