@{
    ViewBag.Title = "Home Page";
}


<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<iframe src="https://www.appuonline.com/nseindices-ticker.html" width="370" height="34" frameborder="0" scrolling="no"></iframe>
<iframe src="https://www.appuonline.com/data/nse-ticker.html" width="370" height="34" frameborder="0" scrolling="no"></iframe>
<iframe src="https://www.appuonline.com/data/bse-ticker.html" width="370" height="34" frameborder="0" scrolling="no"></iframe></div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/images/slide01.png")" style="width:100%; border-style: solid; border-width: 1px;" alt="First slide">
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slide02.png")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Second    slide">
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slide03.png")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container">
    <div class="row wrap_1 wrap_5">
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_1"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Share Market Planning</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding share market planning, investment through classroom and workshops for teaching, learning and understanding basics.
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_2"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Marketing Research</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding current trend in market, ups and down. Detailed technical analysis of stocks with charts
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_3"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Student Benefits</a></h3>
                <p class="text_3 color_2 maxheight">
                    Trading is good idea in stock market to earn extra income.Getting the share market knowledge and make able to invest in share market
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_4"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Portfolio Management</a></h3>
                <p class="text_3 color_2 maxheight">
                    Expert Management, <br/> Active in Risk Management, <br/> Management of Funds.
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    Share Market Training Classes<br />

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_1">
                    <p class="text_3">
                        
                        Welcome to Ganraj Share market training classes. We offer training course in share market, commidity and forex market. 
                        We provides classroom and online training programme which covers all basic and advance level of stock market and trading operation 
                        like equity-derivatives-option trading,technical & fundamental analysis & more.We train students during LIVE market to make 
                        them understand practically about all the concepts of trading. Our courses are suitable for people from any field of professionals,traders,investors,
                        housewifes,students etc. We built our course with a lifetime support facility for students so that 
                        they never feel alone in their trading journey. Build a successful career in stock market industry or make a part-time/ fulltime 
                        income in financial markets using our teaching methods. We believe in making money in a consistent basis & accordingly designed our trading 
                        strategies & concepts so that your hard earned money gets the value it deserves.  
                        Finally, you stepped at the right place to create your successful stock market trading journey.
                        

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_1">
        <h2 class="header_1 wrap_8 color_3">
            Our Branches
        </h2>
        <div class="grid_6">
            <div class="wrap_6">
                <div class="box_2 maxheight2">
                    <div class="caption">
                        <h3 class="text_2 color_2">
                            Shivane, Pune Branch
                        </h3>
                        <p class="text_3">
                            S/N. 6/1A, 1st Floor, NDA Road Deshmukhwadi, Shivane Pune-411023.
                            <br/>
                            Call Us: 9657059591
                        </p>
                        <a href="#" class="btn_2">read more</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="grid_6">
            <div class="wrap_6">
                <div class="box_2 maxheight2">
                    <div class="caption">
                        <h3 class="text_2 color_2">
                            Karad Branch
                        </h3>
                        <p class="text_3">
                            S/N. 6/1A, 1st Floor, NDA Road Deshmukhwadi, Shivane Pune-411023.
                            <br />
                            Call Us: 9657059591
                        </p>
                        <a href="#" class="btn_2">read more</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="bg_1 wrap_7 wrap_5">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_1 wrap_8 color_3">
                    <u>TESTIMONIALS</u>
                </h2>               
                <h6 class="header_6 wrap_8 color_3">What Student says about us</h6>
            </div>
        </div>

        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p><h1>The training provided the method and a comprehensive system comprising of fundamental and technical 
                                analysis which would help in creating active and passive source of income at any time and any point of life.
                                </h1>
                                - Govind Pawar
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" data-src="" alt="Second    slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p><h1>I think that I've only missed two events since i joined back in early May. 
                                I learn from every session. Not to swell your head, but I am really getting my money's worth!!!</h1>
                                - Shivkumar Jadhav
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" data-src="" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p><h1>The training provided the method and a comprehensive system comprising of fundamental 
                                and technical analysis which would help in creating active and passive source of income 
                                at any time and any point of life.</h1>
                                - Yuvraj
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>             
    </div>
</div>
<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                    <li><a class="fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>